.profileParent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  font-size: medium;
}

.profileList {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: larger;
}

.profileList2 {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: smaller;
}